.fontAwesomeSocialIconsCircle{
	-webkit-font-smoothing: antialiased;
    font-size: 1.5rem;
    color: @colorWhite;
    font-family: 'FontAwesome';
    margin: 0;
    transition: color .25s ease-in-out;
    border: none;
    display: inline-block;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 50%;
    -moz-box-shadow: 0 0 2px @color-SheaHoverPink;
    -webkit-box-shadow: 0 0 2px @color-SheaHoverPink;
    box-shadow: 0 0 2px @color-SheaHoverPink;    
    width: 40px;
    height: 40px;
    line-height: 40px;
}