<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div data-role="checkout-agreements">
    <div class="checkout-agreements" data-bind="visible: isVisible">
        <!-- ko foreach: agreements -->
            <!-- ko if: ($parent.isAgreementRequired($data)) -->
            <div class="checkout-agreement">
                <input type="checkbox"
                       data-bind="attr: {
                                    'id': 'agreement_' + agreementId,
                                    'name': 'agreement[' + agreementId + ']',
                                    'value': agreementId
                                    }"
                       data-validate="{required:true}" />
                <label data-bind="attr: {'for': 'agreement_' + agreementId}">
                    <button type="button"
                            class="action action-show"
                            data-bind="click: function(data, event) { return $parent.showContent(data, event) }" data-toggle="modal" data-target="#myModal"
                            >							
                        <span data-bind="html: checkboxText"></span>
                    </button>
                </label>
            </div>
            <!-- /ko -->
            <!-- ko ifnot: ($parent.isAgreementRequired($data)) -->
            <!-- /ko -->
        <!-- /ko -->
        <div id="checkout-agreements-modal" data-bind="afterRender: initModal" style="display: none">
            <div class="checkout-agreements-item-content" data-bind="html: modalContent"></div>
        </div>
 		<div class="modal fade" id="myModal" role="dialog">
			<div class="modal-dialog">			 
				<div class="modal-content">
					<div class="modal-body">
						<p class="checkout-agreements-item-content-text" data-bind="html: modalContent"></p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
    </div>
</div>